<!doctype html>
<html ng-app="eventsApp">
<head>
    <base href="/"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/jquery-ui-1.11.4.custom/jquery-ui.css">

<body ng-controller="BookingCtrl" >
<div class="container">
    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <div style="display: flex">
                    <h1>Booking</h1>
                </div>
                <div class="divider"></div>
            </div>
            <form class="form-register" method="post" name="register" novalidate>

                <div class="input-field col s6">
                    <label for="first-name">First Name</label>
                    <input id="first-name" type="text" class="validate" required>
                </div>

                <div class="input-field col s6">
                    <label for="last-name">Last Name</label>
                    <input id="last-name" type="text" class="validate" required>
                </div>

                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input type="password" class="form-control" id="phone_number" name="type" ng-model="phone_number" ng-maxlength='10' class="validate" required>
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input id="email" type="email" class="form-control" name="type" aria-describedby="emailHelp" class="validate" required>
                </div>
                <p class="form-group" ng-show="form-register.email.$error.email"></p>

                <div class="input-field col s6">
                    <label for="from-address">From address</label>
                    <input id="from-address" type="text" class="validate" required>
                </div>

                <div class="input-field col s6">
                    <label for="to-address">To address</label>
                    <input id="to-address" type="text" class="validate" required>
                </div>

                <div class="form-group form-check">
                    <div style="display: flex">
                        <input type="radio" name="cartype" id="car-type-1" class="validate" required>
                        <label for="car-type-1">Price for Car Type 1</label>
                    </div>
                    <input id="price-car-type-1" type="text" class="validate" required disabled>
                    <br>
                    <div style="display: flex">
                        <input type="radio" name="cartype" id="car-type-2" class="validate" required>
                        <label for="car-type-2">Price for Car Type 1</label>
                    </div>
                    <input id="price-car-type-2" type="text" class="validate" required disabled>
                </div>
                <br>Payment method</br>
                <div class="form-group form-check">
                    <div style="display: flex">
                        <input type="radio" name="payment" id="changemode-card"  checked="checked" class="validate" required>
                        <label for="changemode-card"> Card</label>
                    </div>
                    <div style="display: flex">
                        <input type="radio" name="payment" id="changemode-cash" class="validate" required>
                        <label for="changemode-cash"> Cash</label>
                    </div>
                    <div style="display: flex">
                        <input type="radio" name="payment" id="changemode-transfer" class="validate" required>
                        <label for="changemode-transfer"> Bank transfer</label>
                    </div>
                </div>


                <div class="space-top text-left">
                    <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                        <i class="material-icons left">Done</i>
                    </button>
                    <button type="button" class="waves-effect waves-light btn cancel">
                        <i class="material-icons left" >Cancel</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/BookingCtrl.js"></script>
<script src="/js/directives/mySample.js"></script>
<script src="/js/directives/eventThumbnail.js"></script>
<script src="/js/directives/collapsible.js"></script>
<script src="/js/directives/datepicker.js"></script>
<script src="/js/filters.js"></script>
<script src="/lib/bootstrap.min.js"></script>

</body>
</html>