<!doctype html>
<html ng-app="eventsApp">
<head>
    <base href="/"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/jquery-ui-1.11.4.custom/jquery-ui.css">

<body ng-controller="LoginCtrl" >
<div class="container">
    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <div style="display: flex">
                    <h1>Login</h1>
                </div>
                <div class="divider"></div>
            </div>
            <form class="form-login" method="post" name="login" novalidate>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input id="email" type="email" class="form-control" name="type" aria-describedby="emailHelp" class="validate" required>
                </div>
                <p class="form-group" ng-show="form-register.email.$error.email"></p>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="type" ng-model="password" ng-minlength='6' class="validate" required>
                </div>
                <p class="password" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>

                <div class="space-top text-left">
                    <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                        <li><a href="#" ng-click="create()" class="material-icons left">Login</a></li>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/LoginCtrl.js"></script>
<script src="/js/filters.js"></script>
<script src="/lib/bootstrap.min.js"></script>

</body>
</html>